legend.MuiFormLabel-root,
p.MuiFormLabel-root {
	text-align: center;
	font-size: 1.5em;
	color: var(--primary-color);
	margin-top: 8px;
	margin-bottom: 8px;
}

/* form numbers before the inquiry */
legend.MuiFormLabel-root::before {
	content: var(--form-num);
	display: inline-flex;
	border: 1px solid;
	width: 35px;
	height: 35px;
	margin-right: 8px;
	justify-content: center;
	align-items: center;
	border-radius: 18px;
}

.animatedFormGroup {
	position: absolute;
	display: flex;
	align-items: start;
	justify-content: center;
	width: 100vw;
	min-height: 80vh;
	will-change: transform, opacity;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
}

.form-group {
	padding-bottom: 80px;
}
